<% layout('../layout') -%>
<% script('/js/dashboard.front.js') -%>
<% stylesheet('/stylesheets/admin.css') -%>

<div class="dashboard">
    <div id="dataRoom" data-room-name="<%= room.name %>"></div>
    <h1>Dashboard : <%= room.name %></h1>
    <div class="actions">

        <span>Démarrer la room :</span>
        <label class="switch">
            <input type="checkbox" id="toggleStartRoom">
            <div class="slider round"></div>
        </label>

    </div>

    <div class="containter">

        <h2>Activer les questions disponible pour la room <span><%= room.name %></span></h2>

        <% questions.forEach(function(question){ %>

        <div class="qusetionDashboard" id="question-<%= question.id %>">

            <h2><%= question.intitule %></h2>
            <div class="json" data-json="<%= JSON.stringify(question) %>"></div>
            <!-- Rounded switch for questions-->
            <label class="switch">
                <input type="checkbox" class="toggleButton question" data-question-id="<%= question.id %>">
                <div class="slider round"></div>
            </label>

        </div>

        <div>
            <h3> Afficher réponse juste :  </h3>
            <!-- Rounded switch for results -->
            <label class="switch">
                <input type="checkbox" class="toggleButton reponse">
                <div class="slider round"></div>
                <input type="hidden" name="idQst" value="<%= question.id%>">
            </label>
            <% }); %>
        </div>
    </div>
    <p>
        <a href="results" target="_blank">
            <button class="blue-button">Afficher les résultats</button>
        </a>
    </p>
</div>