    <% layout('../layout') %>
    <% script('/js/admin.front.js') %>

<div class="form-question round-input-text">
    <h1 class="red-h1" >Admin</h1>
    <h2>Ajouter une question</h2>
    <form action="/admin/question/new" class="formNewQuestion" method="post">
        <div class="question">
            <label>Intitulé de la question :</label>
            <input type="text" name="qIntitule">
            <label>Id niveau : </label>
            <input type="number" name="niveau">
            <label>Id matiere :</label>
            <input type="number" name="matiere">
        </div>

        <div class="reponses">
            <div class="reponse">
                <label>Réponse <span>1</span>:</label>
                <input type="text" name="rIntitule" data-nb-rep="1">
                <label><input type="checkbox" name="istrue" value="1" checked value="0" unchecked> Réponse vraie ? </label>
            </div>

            <div class="reponse">
                <label>Réponse <span>2</span>:</label>
                <input type="text" name="rIntitule" data-nb-rep="2">
                <label><input type="checkbox" name="istrue" value="1" checked value="0" unchecked> Réponse vraie ? </label>
            </div>
        </div>

        <button type="button" id="addResponseButton">Ajouter une réponse</button>
        <br>
        <input class="blue-button" type="submit" value="Enregistrer la question">
    </form>

    <div class="questions">
        <h2> Modifications des questions existantes : </h2>
        <% questions.forEach(function (question) { %>
        <form action="/admin/question/edit" class="formNewQuestion" method="post">

                <div class="Values">
                    <p><%= question.intitule %></p>
                    <input type="hidden" name="id" value="<%=question.id%>">
                    <input type="hidden" name="id_niveau" value="<%=question.id_niveau %>">
                    <input type="hidden" name="id_matiere" value="<%=question.id_matiere %>">
                    <input id="qValue<%=question.id%>" name="qValue" type="hidden" value="<%=question.intitule%>">
                </div>
                <input class="blue-button" type="submit" name="action" value="Enregistrer">
                <input class="red-button" type="submit" name="action" value="Supprimer">
                <input class="orangered-button" type="submit" name="action" value="Modifier reponses">
        </form>
        <% }) %>
    </div>
</div>