<% layout('../layout') %>
<% script('/js/admin.front.js') %>
<% stylesheet('/stylesheets/admin.css') -%>

<div class="view-matiere">

    <div class="leftMenu">
        <ul>
            <% matieres.forEach(function (matiere) { %>
            <li><a href="<%= matiere.id %>"><%= matiere.intitule %></a></li>
            <% })%>
            <li class="newmatiere">
                <form method="post" action="/admin/matiere/new">
                    <input type="text" name="intitule" placeholder="Ajouter une matière">
                    <input type="submit" value="Ajouter"  >
                </form>
            </li>
        </ul>
    </div>

    <% if(matiere) { %>

    <div class="matiere">
        <form method="post" action="/admin/matiere/edit">
            <h2><%= matiere.intitule %></h2>
            <input type="hidden" name="id" value="<%= matiere.id%>">
            <input id="inputIntitule" name="intitule" type="hidden" value="<%=matiere.intitule%>">
            <input id="submitmatiere" type="submit" value="Mettre à jour" style="display: none"><br>
            <i class="fa fa-info-circle" aria-hidden="true">Cliquez sur le titre pour modifier l'intitulé du niveau</i>
        </form>
        <form method="post" action="/admin/matiere/delete">
            <input type="hidden" name="id" value="<%= matiere.id%>">
            <input id="submitmatiere" type="submit" value="Supprimer" >
        </form>
    </div>

    <% } %>
</div>
