<% layout('../layout-admin') %>
<% script('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.js') -%>
<% script('/js/results.front.js') -%>
<% stylesheet('/stylesheets/admin.css') -%>

<div id="dataRoom" data-room-name="<%= room.name %>"></div>
<div class="result">
    <h1 class="red-h1">Resultats</h1>
    <div class="containter">
        <% questions.forEach(function(question){ %>


        <div class="resulquestion" id="question-<%= question.id %>">

            <h2><%= question.intitule %></h2>
            <div class="json" data-json="<%= JSON.stringify(question) %>"></div>

            <div width="400" height="400">
                <canvas class="charts" data-question-id="<%= question.id %>"
                        data-reponse-nb="<%= question.reponses.length %>"
                        id="chart-<%= question.id %>"></canvas>
            </div>
        </div>
        <% }); %>
    </div>
</div>