<% layout('../layout') -%>
<% stylesheet('/stylesheets/admin.css') -%>
<% script('/js/admin.front.js') -%>
<% script('/js/jquery-ui.min.js') -%>
<% stylesheet('/stylesheets/jquery-ui.css') -%>
<% stylesheet('/stylesheets/jquery-ui.theme.css') -%>

<div class="room-question">
    <h1 class="red-h1">Room : <strong><%= room.name %></strong></h1>
    <p>Glissez / Déposez les questions d'une setion à l'autre !</p>
    <div id="questionSelection">

        <div class="roomQuestions sortBlock">
            <h2>Questions séléctionnées dans la room <%= room.name %></h2>
            <form action="/admin/room/<%= room.id %>/update/questions" id="formRoomQuestions" method="post">
                <input type="hidden" name="questions" id="sortableData">
                <div id="roomQuestions" class="connectedSortable">
                    <% roomQuestions.forEach(function (question) { %>
                    <div id="question_<%= question.id %>"><%= question.intitule %></div>
                    <% }) %>
                </div>
                <br>
                <button class="blue-button" id="roomButtonSave">Enregistrer les questions de la room : <strong><%= room.name %></strong></button>
            </form>
        </div>

        <div class="allQuestions sortBlock">
            <h2>Questions disponibles</h2>
            <input type="text" id="searchQuestions" placeholder="Filtrer les questions" title="Entrez le nom du Niveau ou de la Matière pour filtrer les résultats">
            <div id="allQuestions" class="connectedSortable">
                <% questions.forEach(function (question) {
                        if(question.nIntitule == null) {
                            question.nIntitule = "";
                        }
                        if(question.mIntitule == null) {
                            question.mIntitule = "";
                        }
                %>
                    <div id="question_<%= question.id %>"
                         data-niveau="<%= question.nIntitule %>"
                         data-matiere="<%= question.mIntitule %>">
                        <%= question.intitule %>
                    </div>
                <% }) %>
            </div>

        </div>

    </div>

    <p><a href="<%= room.id %>/dashboard"> <button class="orangered-button">Démarrez la room</button></a></p>
</div>