<% layout('../layout') -%>
<% stylesheet('/stylesheets/admin.css') -%>
<% script('/js/admin.front.js') -%>
<% script('/js/jquery-ui.min.js') -%>

<h1>Room : <%= room.name %></h1>

<div id="questionSelection">

    <div class="roomQuestions sortBlock" >

        <ul id="roomQuestions" class="connectedSortable">
            <% roomQuestions.forEach(function (question) { %>
            <li><%= question.id %> - <%= question.intitule %></li>
            <% }) %>
        </ul>

    </div>

    <div class="allQuestions sortBlock">

        <ul id="allQuestions" class="connectedSortable">
            <% questions.forEach(function (question) { %>
            <li><%= question.id %> - <%= question.intitule %></li>
            <% }) %>
        </ul>

    </div>

</div>