    <% layout('layout') -%>

    <section class="main-section">

        <h1>La réponse D</h1>
        <h2>Connectez vous et jouez !</h2>

        <div class="room">
            <label for="nameInput">Nom :</label>
            <input id="nameInput" type="text">
            <label for="roomInput">Room :</label>
            <input id="roomInput" type="text">
            <button id="connectToRoom">Se connecter</button>
        </div>

        <div class="containter">
            <% questions.forEach(function(question) { %>
            <div class="question" data-id="<%= question.id %>">
              <span>
                <h2><%= question.intitule %></h2>
              </span>
                <div class="reponse">
                    <form>
                        <% question.reponses.forEach(function(reponse) { %>
                        <input type="radio" name="reponse" data-question-id="<%= question.id %>"
                               id="<%= question.id + "-" + reponse.id %>" value="<%= reponse.id %>"/>
                        <label for="<%= question.id + "-" + reponse.id %>"><%= reponse.intitule %></label><br/>
                        <% }); %>
                    </form>
                </div>
            </div>
            <% }); %>
        </div>
    </section>